.AboutUs {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: row;
    padding: 5rem 10rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.text {
    width: 600px;
}
.title {
    font-family: MonteCarlo, cursive;
    font-weight: 100;
    font-size: 6rem;
    color: #7F5E4F;
}
.story {
    font-size:1.5rem;
}
.about-img{
    height: 500px;
    width: 500px;
    background-image: url('../assets/About.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 36px;
}