footer{
    display: flex;
    flex-direction: column;
    background-color: #1a1918;
    color: white;
    text-align: center;
    padding: 1rem;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 3rem 1rem 0 1rem;
}
.Name {
    font-family: Playfair Display, serif;
    font-weight: 200;
    font-size: 6rem;
    align-content:end;
}
.links {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: end;
    padding-bottom: 1rem;
}
.links a{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}
.find {
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.3rem;
    text-align: right;
}