footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.footerText-left{
    float: left;
    margin-left: 20px;
}
.footerText-center{
    display: inline;
    justify-content: center;
    align-items: center;
    color: #eee8de;
}
.footerText-right{
    float: right;
    margin-right: 20px;
}