@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #FFF7E7;
  color: #333;
  height: 100%;
}